/.vs
draftingMaterial/test_wpfui/.vs
ProofConcepts/Databases/DatabaseProofOfConcept/.vs
ProofConcepts/GUI/JoelGuiPOC1/.vs
ProofConcepts/Asynchronous/AsynchronousProgrammingPractice/.vs
ProofConcepts/Asynchronous/FindTheHashNOTFINISHED/.vs
ProofConcepts/FileHashChecking/FileHashCheckingPOC1/.vs
ProofConcepts/Alerts/AlertsPoC/.vs
ProofConcepts/FileQuarantine/FileQuarantinePoC/.vs
AntiVirus/Alerts/.vs
*.v2
*.vsidx
*.bin
/AntiVirus/SAV_SimpleAntiVirus/SimpleAntivirus/bin/Debug/net8.0-windows10.0.17763.0/Quarantine
/AntiVirus/SAV_SimpleAntiVirus/SimpleAntivirus/bin/Debug/net8.0-windows10.0.17763.0/Databases/quarantine.db